<div class='item form-group'>
  <div class="col-md-6 col-sm-4 col-xs-6">
<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.text_field :status, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :cost %><br>
    <%= form.number_field :cost, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :start %><br>
    <%= form.datetime_select :start, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :cancellation_reason %><br>
    <%= form.text_area :cancellation_reason, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :refunded %><br>
    <%= form.check_box :refunded %>
  </div>

  <div class="field">
    <%= form.label :trainer_id %><br>
    <%= form.number_field :trainer_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :schedule_id %><br>
    <%= form.number_field :schedule_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :lesson_id %><br>
    <%= form.number_field :lesson_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :account_id %><br>
    <%= form.number_field :account_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
